{% extends "main/base.html" %}

{% load staticfiles %}

{% block title %} {{ department.name }} {% endblock title %}

   <div class="row ">
	      <div id="myCarousel" class="carousel slide" data-ride="carousel"  align="center">
	      <!-- Indicators -->
	      <div class="carousel-inner">       
	            <div class="active">
	              <img src="{{ department.photo.get_carouselsize_url }}" alt="{{ department.title }}" width='100%'>
	              <div class="container">
	                <div class="carousel-caption deps">
	                  <h1>{{ department.name }}</h1>
	                  <p>{{ department.description }}</p>
	                </div>
	              </div>
	            </div>
	      
	      </div>
	    </div>
    <!-- /.carousel -->


	{% block caruosel %}
    
		<div class='row'>
			<div class="col-md-10">				
				<div class="thumbnail" >
					<img alt="{{ department.photo.Caption }}"  src="{{ department.photo.get_mydepbeg_url }}">
				</div>				
			</div>
			<div class="col-md-10" style="height:500px">
				<div class ="row infoblock">
					<h1> {{ department.name }} </h1>
				</div>
				<div class="row infoblock">
					<p>{{ department.description }}</p>
				</div>
			</div>
		</div>
	{% endblock caruosel %}

{% block hello %} 
{% endblock hello %}

{% block parts %} 
{% endblock parts %} 	

{% block gallery %} 
    <div class="brand">
            <div class="container-fluid">
            	<h1 class="brandHeader">Проекты</h1> 
              	<h3>Подзаголовок раздла проекты</h3>
            </div>
  	</div>

            <!-- Keep all page content within the page-content inset div! -->

  <div class="row gallery">
    {% for v in projectsList %}
      <div class="col-sm-4 imgItem">
        <a href={% url 'main:project' v.short_name %}>
        <div class="projectsGallerie_project thumbnail">
            <img src="{{ v.photo.get_gallerysize_url }}"/>
            <div class="projectsGallerie_project_text">
              <h1>{{ v.name }}</h1>
              <div>{{ v.department.name}}</div>
            </div>
        </div>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock gallery %}



