{% extends "main/base.html" %}

{% load staticfiles %}

{% block caruosel %}
    <div class="row ">
      <div id="myCarousel" class="carousel slide" data-ride="carousel"  align="center">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        {% for v in newsList %}
          <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.counter0 = 0 %} class="active" {% endif %}></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner">
       {% for v in newsList %}
            <div class="item {% if forloop.counter0 = 0 %} active {% endif %}">
              <img src="{{ v.photo.get_carouselsize_url }}" alt="{{ v.title }}" width='100%'>
              <div class="container">
                <div class="carousel-caption">
                  <h1>{{ v.title }}</h1>
                  <p>{{ v.description }}</p>
                  <p><a class="btn btn-lg btn-info" href={% url 'main:news' v.id %} role="button">Читать далее</a></p>
                </div>
              </div>
            </div>
        {% endfor %}
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <!-- /.carousel -->
{% endblock caruosel %}

{% block hello %}   

  <div class="row brand">
      <h1 class="brandHeader">Международное Содружество бауманцев</h1>
        <div class="col-lg-7 col-md-10 col-sm-10  col-xs-offset-2 thumbnail">
					<img alt="..." src="{{ memorandum.photo.get_blogsize_url }}">
        </div>
        <div class="col-lg-10  col-md-8 col-sm-8 ">
          {% autoescape off %}<p> {{ memorandum.description }}<p>{% endautoescape %}<hr>
          <p align="center"><a class="btn btn-lg btn-default" href={% url 'main:article' 'memorandum' %}>Чиатать далее</a></p>
        </div>
    </div>
{% endblock hello %}

{% block parts %} 
  <div class="brand "> 
    <h1 class="brandHeader">Направления работы</h1>
  </div>  
    <div class="row">
      {% for v in departmentsList %}
        <div class="col-lg-5 col-md-10 col-sm-10">
          <div class="thumbnail" >
            <img alt="{{ v.photo.Caption }}"  src="{{ v.photo.get_gallerysize_url }}">
            <div class="caption">
              <h3 class="blue-row">{{ v.name }}</h3>
              <p> {{ v.description }}</p>
              <a href={% url 'main:department' v.short_name %} class="btn btn-info" role="button">Узанать больше</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>    
{% endblock parts %} 	

{% block gallery %} 
    <div class="brand">
            <div class="container-fluid">
            	<h1 class="brandHeader">Проекты</h1> 
              <!--<p><a class="btn btn-lg btn-default" href="{% url 'main:projectList'%}" role="button">Читать далее</a></p>
               K <h3>то, что мы делаем сегодня, завтра сделает мир лучше</h3>
                <div class="row btn-row" align="center">
                    <div class="btn-group btn-group-lg">
                        <button type="button" class="btn btn-default active">Все</button>
                        <button type="button" class="btn btn-default">ЛСТП</button>
                        <button type="button" class="btn btn-default">РепА</button>
                        <button type="button" class="btn btn-default">МСБ</button>
                        <button type="button" class="btn btn-default">Землячества</button>
                    </div>
               </div>-->
            </div>
  </div>

            <!-- Keep all page content within the page-content inset div! -->

  <div class="row gallery">
    {% for v in projectsList %}
      <div class="col-sm-4 col-xs-10 imgItem">
        <a href={% url 'main:project' v.short_name %}>
        <div class="projectsGallerie_project thumbnail">
            <img src="{{ v.photo.get_gallerysize_url }}"/>
            <div class="projectsGallerie_project_text">
              <h1>{{ v.name }}</h1>
              <div>{{ v.department.name}}</div>
            </div>
        </div>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock gallery %}

{% block footer %}
  <div class="brand "> 
    <h1 class="brandHeader">контакты</h1>
  </div>  
  <div class="brand-footer row">
    <div class="col-md-8">
      <p><a href=#><span class="glyphicon glyphicon-tower"></span> Prtner #1</p></a>
      <p><a href=#><span class="glyphicon glyphicon-send"></span> Prtner #2</p></a>
      <p><a href=#><span class="glyphicon glyphicon-leaf"></span> Prtner #3</p></a>
    </div>
    <div class="col-md-7">
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">{{ contacts }}</li>
          <li class="list-group-item"> 8(1038) 456-234</li>
          <li class="list-group-item"> e-mail@mail.ru</li>
          <li class="list-group-item">Moscow, Leningradsky avenue 37</li>
        </ul>
      </div>
    </div>
    <div class="col-md-5 foot-brand">
    </div>

    <!-- <img width="100%" alt="Карты яндекс" src={% static 'main/img/4.jpg' %}> -->
  </div>
{% endblock footer %}


