{% extends "main/base.html" %}

{% load staticfiles %}

{% block title %} List of projects {% endblock title %}

{% block caruosel %} {% endblock caruosel%}

{% block hello %}
  <div class='blog'>
    <h1 class="brandHeader">Проекты</h1>
    <hr>
  </div>  
{% endblock hello %}


{% block parts %} 
  {% for v in projectsList%}
    <div class="container">
      <div class="row">
        <div class="col-sm-20">
          <h2>{{ v.name }}</h2>  
          <hr>
        </div>
        <div class="col-sm-2"><img alt="{{ v.photo.description }}" src="{{ v.photo.get_thumbnail_url }}"></div>
        <div class="col-sm-17 col-sm-offset-1">
          <h4>{{ v.description }}</h4>
          <p> <button class="btn btn-default">Узнать больше</button></p>
        </div>
      </div>
      <hr>
    </div>

  {% endfor %}

{% endblock parts %}

{% block gallery %}
{% endblock gallery %}

