{% extends "main/base.html" %}

{% load staticfiles %}

{% block title %} List of news {% endblock title %}

{% block caruosel %} {% endblock caruosel%}

{% block hello %}
	<div class='blog'>
		<h1 class="brandHeader">События</h1>
		<hr>
	</div>	
	<div class="container">
{% endblock hello %}

{% block parts %} 
      	{% for v in newsList%}
      		<div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
          		<div class="thumbnail">
              		<img alt="{{ v.photo.description }}" src="{{ v.photo.get_gallerysize_url }}">
              </div>
            </div>
            <div class="col-lg-12 col-md-13 col-sm-14">
              <div lass="blogtags">
                <h4><span class="glyphicon glyphicon-time"></span> {{ v.pub_date }} </h4>
              </div>
              <h1> <a href={% url 'main:news' v.id %}>{{ v.title }}</a></h1><hr>
              <h4>{{ v.description }}</h4>
              <hr>
            </div>
      		</div>
      {% endfor %}
     
  </div>
{% endblock parts %}

{% block gallery %}
{% endblock gallery %}

