{% extends "main/base.html" %}

{% load staticfiles %}

{% block title %} {{ contacts.title }}  {% endblock title %}
{% block caruosel %}
    
		<div class='row'>
			<div class="col-md-10">				
				
					<iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2244.5951232366015!2d37.6851116!3d55.7655352!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb65846b6a0feaa00!2z0JzQvtGB0LrQvtCy0YHQutC40Lkg0JPQvtGB0YPQtNCw0YDRgdGC0LLQtdC90L3Ri9C5INCi0LXRhdC90LjRh9C10YHQutC40Lkg0KPQvdC40LLQtdGA0YHQuNGC0LXRgiDQuNC8LiDQnS7QrS4g0JHQsNGD0LzQsNC90LAgKNCc0JPQotCjKQ!5e0!3m2!1sru!2sru!4v1401309746315" width="100%" height="700" frameborder="0" style="border:0"></iframe>
								
			</div>
			<div class="col-md-10" style="height:500px">
				<div class ="row infoblock">
					<p>{{ contacts.title }}</p>
				</div>
				<div class="row infoblock">

					{% autoescape off %}
						<p>{{ contacts.bank_details }}</p>
					{% endautoescape %}
					
					<hr>
					{% for v in contacts.phone_number.all %}
						<p>{{ v.phone_number }}</p>
					{% endfor %}
					<hr>
					{% for v in contacts.emails.all %}
						<h1> {{ v.email }} </h1>
					{% endfor %}
					<hr>
					{% for v in contacts.addresses.all %}
						<h1> {{ v.address }} </h1>
					{% endfor %}
				</div>
			</div>
		</div>
{% endblock caruosel%}
{% block footer %} {% endblock footer %}
