{% extends "main/base.html" %}

{% load staticfiles %}

{% block title %} List of news {% endblock title %}

{% block menu%}         
      <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li ><a href={% url 'main:index'%}>Главная</a></li>
                <li class="dropdown active"><a href={% url 'main:index'%} class="dropdown-toggle" data-toggle="dropdown">Проекты<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href={% url 'main:department' 'lstp'%}><strong>Лаборатория социотехнического проектирования</strong></a></li>
                    <li><a href={% url 'main:department' 'RA'%}>Репутационное агентство</a></li>
                    <li><a href={% url 'main:department' 'buamzem'%}>Бауманские землячества</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'main:articleList'%}">Статьи</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Сотрудничество</a></li>
                  </ul>
                </li>
                <li><a href={% url 'main:newsList'%}>Новости</a></li>
                <li><a href={% url 'main:projectList'%}>Альма матер</a></li>
                <li><a href="#" data-toggle="modal" data-target="#SignInModal"> Присоединяйся</a></li>
                <li><a href="#">Контакты</a></li>
              </ul>
                                <!--<form class="navbar-form navbar-left" role="search">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                    </div>
                                    <button type="submit" class="btn btn-default">Submit</button>
                                  </form>
                                  <button type="button" class="btn btn-default navbar-btn btn-danger" data-toggle="modal" data-target="#SignInModal">Присоединяйся</button>-->
            </div>
          </div>
        </nav>      
      </div>
    {% endblock menu %}

{% block caruosel %} {% endblock caruosel%}

{% block hello %}
  <div class='blog'>
    <h1 class="brandHeader">Статьи</h1>
    <hr>
  </div>  
  <div class="container-fluid">
    <div class="row">

{% endblock hello %}


{% block parts %} 

        {% for v in articlesList %}
          <div class="row">
              <div class="col-lg-18 col-xs-offset-2 thumbnail">
                  <img alt="v.photo.description" src="{{ v.photo.get_blogsize_url }}" %}>
                  <div class="caption blog">
                    <div lass="blogtags">
                        <p><span class="glyphicon glyphicon-time"></span> {{ v.pub_date }} | <span class="glyphicon glyphicon-comment"></span> <a href=#>Comments</a> | <span class="glyphicon glyphicon-user"></span> <a href=#>{{ v.author }}</a></p>
                    </div>
                    <h1> <a href=#>{{ v.title }}</a></h1><hr>
                    <p>{{ v.description }}</p>
                  <p><span class="glyphicon glyphicon-tags"></span> <a href=#>tag1</a> | <a href=#>tag2</a> |</p> 
                    <hr>
                  </div>
            </div>
          </div>
      {% endfor %}

{% endblock parts %}

{% block gallery %}

    </div><!-- container-row-->
  </div> <!-- container-fluid-->
{% endblock gallery %}

 {% block footer%}{% endblock footer%}
