{% extends "main/base.html" %}

{% load staticfiles %}

{% block caruosel %}
    <div class="row ">
      <div id="myCarousel" class="carousel slide" data-ride="carousel"  align="center">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        {% for v in newsList %}
          <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.counter0 = 0 %} class="active" {% endif %}></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner">
       {% for v in newsList %}
            <div class="item {% if forloop.counter0 = 0 %} active {% endif %}">
              <img src="{{ v.photo.get_carouselSize_url }}" alt="{{ v.title }}" width='100%'>
              <div class="container">
                <div class="carousel-caption">
                  <h1>{{ v.title }}</h1>
                  <p>{{ v.description }}</p>
                  <p><a class="btn btn-lg btn-primary" href={% url 'main:news' v.id %} role="button">Читать далее</a></p>
                </div>
              </div>
            </div>
        {% endfor %}
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <!-- /.carousel -->
{% endblock caruosel %}

{% block content %}   
   <div class="row">
        <div  align="center">
            	<h1 class="brandHeader">Международное Содружество бауманцев</h1>
                <div class="col-lg-7 col-xs-offset-2 thumbnail">
						<img alt="..." src={% static 'main/img/Gerb_MGTU_imeni_Baumana.png' %}>
                 </div>
            <p class="col-lg-10 col-xs-offset-1" >Мы обращаемся ко всем выпускникам, студентам, аспирантам Московского государственного технического университета имени Н.Э.Баумана!<br> При нашей Альма-матер создан некоммерческий фонд <strong> «Международный СОЮЗ БАУМАНЦЕВ» </strong>основные цели которого: <br>
•	возрождение российской инженерной школы;<br>
•	повышение роли и статуса российского инженера;<br>
•	укрепление связей выпускников нашего университета.</p>
        </div>
        </div>
  
    <h1 class="brandHeader">Общественные организации</h1>
    <div class="row">
      {% for v in departmentsList %}
        <div class="col-lg-5">
          <div class="thumbnail" >
            <img alt="{{ v.photo.Caption }}"  src="{{ v.photo.get_gallerySize_url }}">
            <div class="caption">
              <h3 class="blue-row">{{ v.name }}</h3>
              <p> {{ v.description }}</p>
              <p><a href={% url 'main:department' v.short_name %} class="btn btn-primary" role="button">Узанать больше</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>    	
            
            
            <div class="container-fluid">
            	<h1 class="brandHeader">ЯЯЯ Наши проекты ? Какой будет ваша история?</h1> 
                <div class="row" align="center">
                    <div class="btn-group btn-group-lg">
                        <button type="button" class="btn btn-default">Все</button>
                        <button type="button" class="btn btn-default">ЛСТП</button>
                        <button type="button" class="btn btn-default">РепА</button>
                        <button type="button" class="btn btn-default">МСБ</button>
                        <button type="button" class="btn btn-default">Землячества</button>
                    </div>
               </div>
            </div>
            <!-- Keep all page content within the page-content inset div! -->

  <div class="row gallery">
    {% for v in projectsList %}
      <div class="col-md-4 imgItem">
        <div class="projectsGallerie_project thumbnail">
            <img src="{{ v.photo.get_gallerySize_url }}"/>
            <div class="projectsGallerie_project_text">
              <h6>Я - заголовок</h6>
              <div>А я - комментарий к этой прекрасной картинке. Я такой длинный, что занимаю несколько строчек.</div>
            </div>
        </div>
      </div>
    {% endfor %}
  </div>  
    
    <!-- SIGN IN Modal -->
    <div class="modal fade" id="SignInModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Форма регистрации для...</h4>
                      </div>
                     
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  ...выпускника
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
              
              <div class="input-group">
                  <span class="input-group-addon">e-mai@ru</span>
                  <input type="text" class="form-control" placeholder="mail@mail.ru">
                </div>
                
              <div class="input-group">
                  <span class="input-group-addon">Username</span>
                  <input type="text" class="form-control" placeholder="Username">
                </div>  
                
                <div class="input-group">
                  <span class="input-group-addon">Nickname</span>
                  <input type="text" class="form-control" placeholder="Login">
                </div>
              </div>
            </div>
          </div>
          
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  ...участника проекта
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
               <div class="input-group">
                  <span class="input-group-addon">e-mai@ru</span>
                  <input type="text" class="form-control" placeholder="mail@mail.ru">
                </div>
                
              <div class="input-group">
                  <span class="input-group-addon">Username</span>
                  <input type="text" class="form-control" placeholder="Username">
              </div>
            <div class="input-group">
                  <span class="input-group-addon">Nickname</span>
                  <input type="text" class="form-control" placeholder="Login">
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                  ...инвестора
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
               <div class="input-group">
                  <span class="input-group-addon">e-mail@ru</span>
                  <input type="text" class="form-control" placeholder="mail@mail.ru">
                </div>
                
              <div class="input-group">
                  <span class="input-group-addon">Username</span>
                  <input type="text" class="form-control" placeholder="Username">
                </div>  
                
                <div class="input-group">
                  <span class="input-group-addon">Nickname</span>
                  <input type="text" class="form-control" placeholder="Login">
                </div>
              </div>
            </div>
            
            </div>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            <button type="button" class="btn btn-primary">Зарегистрироваться</button>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

