{% extends "main/base.html" %}

{% load staticfiles %}

{% block caruosel %}
    <div class="row ">
      <div id="myCarousel" class="carousel slide" data-ride="carousel"  align="center">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        {% for v in newsList %}
          <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.counter0 = 0 %} class="active" {% endif %}></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner">
       {% for v in newsList %}
            <div class="item {% if forloop.counter0 = 0 %} active {% endif %}">
              <img src="{{ v.photo.get_carouselsize_url }}" alt="{{ v.title }}" width='100%'>
              <div class="container">
                <div class="carousel-caption">
                  <h1>{{ v.title }}</h1>
                  <p>{{ v.description }}</p>
                  <p><a class="btn btn-lg btn-info" href={% url 'main:news' v.id %} role="button">Читать далее</a></p>
                </div>
              </div>
            </div>
        {% endfor %}
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <!-- /.carousel -->
{% endblock caruosel %}

{% block hello %}   

<h1 class="brandHeader">Международное Содружество бауманцев</h1>
      <h2>то, что мы делаем сегодня, завтра сделает мир лучше</h2>

      <div class="row ">
        <div class="col-lg-10 col-xs-offset-2 thumbnail">
          <img alt="..." src={% static 'main/img/14.jpg' %}>

          <div class="caption blog">
            <p><span class="glyphicon glyphicon-time"></span> Public date | <span class="glyphicon glyphicon-comment"></span> <a href=#>Comments</a> | <span class="glyphicon glyphicon-user"></span> <a href=#>Autor</a></p>
            <h1> <a href=#>Мы обращаемся ко всем выпускникам</a></h1>
            <p><hr>Возрождение российской инженерной школы;возрождение российской инженерной школы;возрождение российской инженерной школы;возрождение российской инженерной школы;возрождение российской инженерной школы;возрождение российской инженерной школы;возрождение российской инженерной школы;возрождение российской инженерной школы;</p>

            <p><span class="glyphicon glyphicon-tags"></span> <a href=#>tag1</a> | <a href=#>tag2</a> |</p> 
            <hr>
          </div>

          
        </div>
        <div class="col-lg-5 col-xs-offset-1">
          <h3>Heading</h3>
          
          <p>возрождение российской инженерной школы; возрождение российской инженерной школы;возрождение российской инженерной школы;возрождение российской инженерной школы;возрождение российской инженерной школы;</p>

          <h3>Categories</h3>

          <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>

          <h3>Tags</h3>
          <p><a class="btn btn-lg btn-info" href=# role="button">Читать далее</a> <a class="btn btn-lg btn-info" href=# role="button">Читать далее</a> <a class="btn btn-lg btn-info" href=#  role="button">Читать далее</a> <a class="btn btn-lg btn-info" href=#  role="button">Читать далее</a></p>

          <h3>Recent posts</h3>






          <p><span class="glyphicon glyphicon-ok-sign"></span> повышение роли и статуса российского инженера;</p><hr>
          <p><span class="glyphicon glyphicon-ok-sign"></span> укрепление связей выпускников нашего университета.</p>
        </div>
    </div>







  <div class="row brand">
      <h1 class="brandHeader">Международное Содружество бауманцев</h1>
      <h2>то, что мы делаем сегодня, завтра сделает мир лучше</h2>
        <div class="col-lg-7 col-xs-offset-2 thumbnail">
					<img alt="..." src={% static 'main/img/Gerb_MGTU_imeni_Baumana.png' %}>
        </div>
        <div class="col-lg-10 col-xs-offset-1">
          <p> Мы обращаемся ко всем выпускникам, студентам, аспирантам Московского государственного технического университета имени Н.Э.Баумана!<br><br> При нашей Альма-матер создан некоммерческий фонд <strong> «Международный СОЮЗ БАУМАНЦЕВ» </strong>основные цели которого: </p>
          <p><span class="glyphicon glyphicon-ok-sign"></span> возрождение российской инженерной школы;</p><hr>
          <p><span class="glyphicon glyphicon-ok-sign"></span> повышение роли и статуса российского инженера;</p><hr>
          <p><span class="glyphicon glyphicon-ok-sign"></span> укрепление связей выпускников нашего университета.</p>
        </div>
    </div>
{% endblock hello %}

{% block parts %} 
  <div class="brand "> 
    <h1 class="brandHeader">Направления работы</h1>
    <h3>Организции, под управлением фонда</h3>
  </div>  
    <div class="row">
      {% for v in departmentsList %}
        <div class="col-lg-5">
          <div class="thumbnail" >
            <img alt="{{ v.photo.Caption }}"  src="{{ v.photo.get_gallerysize_url }}">
            <div class="caption">
              <h3 class="blue-row">{{ v.name }}</h3>
              <p> {{ v.description }}</p>
              <a href={% url 'main:department' v.short_name %} class="btn btn-info" role="button">Узанать больше</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>    
{% endblock parts %} 	

{% block gallery %} 
    <div class="brand">
            <div class="container-fluid">
            	<h1 class="brandHeader">Над чем мы работаем? </h1> 
              <h3>то, что мы делаем сегодня, завтра сделает мир лучше</h3>
                <div class="row btn-row" align="center">
                    <div class="btn-group btn-group-lg">
                        <button type="button" class="btn btn-default active">Все</button>
                        <button type="button" class="btn btn-default">ЛСТП</button>
                        <button type="button" class="btn btn-default">РепА</button>
                        <button type="button" class="btn btn-default">МСБ</button>
                        <button type="button" class="btn btn-default">Землячества</button>
                    </div>
               </div>
            </div>
  </div>

            <!-- Keep all page content within the page-content inset div! -->

  <div class="row gallery">
    {% for v in projectsList %}
      <div class="col-sm-4 imgItem">
        <a href={% url 'main:project' v.short_name %}>
        <div class="projectsGallerie_project thumbnail">
            <img src="{{ v.photo.get_gallerysize_url }}"/>
            <div class="projectsGallerie_project_text">
              <h1>{{ v.name }}</h1>
              <div>{{ v.department.name}}</div>
            </div>
        </div>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock gallery %}

{% block footer %}
  <div class="brand "> 
    <h1 class="brandHeader">контакты</h1>
    <h3>мы ждем от вас отзывы и пердложения</h3>
  </div>  
  <img alt="Карты яндекс" src={% static 'main/img/Ya_map.png' %}>
  <div class="brand-footer row">
    <div class="col-md-8">
      <p><a href=#><span class="glyphicon glyphicon-tower"></span> Prtner #1</p></a>
      <p><a href=#><span class="glyphicon glyphicon-send"></span> Prtner #2</p></a>
      <p><a href=#><span class="glyphicon glyphicon-leaf"></span> Prtner #3</p></a>
    </div>
    <div class="col-md-7">
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">{{ contacts }}</li>
          <li class="list-group-item"> 8(1038) 456-234</li>
          <li class="list-group-item"> e-mail@mail.ru</li>
          <li class="list-group-item">Moscow, Leningradsky avenue 37</li>
        </ul>
      </div>
    </div>
    <div class="col-md-5 foot-brand">
    </div>

    <!-- <img width="100%" alt="Карты яндекс" src={% static 'main/img/4.jpg' %}> -->
  </div>
{% endblock footer %}


