{% extends "main/base.html" %}

{% load staticfiles %}

{% block title %} {{ contacts.title }}  {% endblock title %}
{% block caruosel %}
    
		<div class='row'>
			<div class="col-md-10">				
				<div class="thumbnail" >
					<img alt="{{ contacts.photo_map.Caption }}"  src="{{ contacts.photo_map.get_mydepbeg_url }}">
				</div>				
			</div>
			<div class="col-md-10" style="height:500px">
				<div class ="row infoblock">
					{% for v in contacts.addresses.all %}
						<h1> {{ v.address }} </h1>
					{% endfor %}
				</div>
				<div class="row infoblock">
					<p>{{ contacts.contact_information }}</p>
					<hr>
					{% for v in contacts.phone_number.all %}
						<p>{{ v.phone_number }}</p>
					{% endfor %}
					<hr>
					{% for v in contacts.emails.all %}
						<h1> {{ v.email }} </h1>
					{% endfor %}
				</div>
			</div>
		</div>
{% endblock caruosel%}
{% block footer %} {% endblock footer %}
