{% extends "main/base.html" %}

{% load staticfiles %}

{% block title %} {{ department.name }} {% endblock title %}

{% block menu%}         
		 <div class="container"> 
		    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		      <div class="container-fluid">
		        <div class="navbar-header">
		          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </button>
		        </div>
		        <div class="collapse navbar-collapse">
		          <ul class="nav navbar-nav navbar-right">
		            <li><a href={% url 'main:index'%}>Главная</a></li>
		            <li class="dropdown active"><a href={% url 'main:index'%} class="dropdown-toggle" data-toggle="dropdown">Проекты<b class="caret"></b></a>
		              <ul class="dropdown-menu">
		              	{% for v in departmentsList %}
		                	<li><a href={% url 'main:department' 'baumzem' %}>{{ v.name }}</a></li>
		                {% endfor %}
		                <li class="divider"></li>
		                <li><a href="{% url 'main:articleList'%}">Статьи</a></li>
		                <li class="divider"></li>
		                <li><a href="#">Сотрудничество</a></li>
		              </ul>
		            </li>
		            <li><a href={% url 'main:newsList'%}>События</a></li>
		            <li><a href={% url 'main:projectList'%}>Альма матер</a></li>
		            <li><a href="#" data-toggle="modal" data-target="#SignInModal"> Присоединяйся</a></li>
		            <li><a href="#">Контакты</a></li>
		          </ul>
		                   					<!--<form class="navbar-form navbar-left" role="search">
		                    						<div class="form-group">
		                      							<input type="text" class="form-control" placeholder="Search">
		                    						</div>
		                    						<button type="submit" class="btn btn-default">Submit</button>
		                  						</form>
		                  						<button type="button" class="btn btn-default navbar-btn btn-danger" data-toggle="modal" data-target="#SignInModal">Присоединяйся</button>-->
		        </div>
		      </div>
		    </nav>      
		 </div>
		{% endblock menu %}

   <div class="row ">
	      <div id="myCarousel" class="carousel slide" data-ride="carousel"  align="center">
	      <!-- Indicators -->
	      <div class="carousel-inner">       
	            <div class="active">
	              <img src="{{ department.photo.get_carouselsize_url }}" alt="{{ department.title }}" width='100%'>
	              <div class="container">
	                <div class="carousel-caption deps">
	                  <h1>{{ department.name }}</h1>
	                  <p>{{ department.description }}</p>
	                </div>
	              </div>
	            </div>
	      
	      </div>
	    </div>
    <!-- /.carousel -->


	{% block caruosel %}
    
		<div class='row'>
			<div class="col-md-10">				
				<div class="thumbnail" >
					<img alt="{{ department.photo.Caption }}"  src="{{ department.photo.get_mydepbeg_url }}">
				</div>				
			</div>
			<div class="col-md-10" style="height:500px">
				<div class ="row infoblock">
					<h1> {{ department.name }} </h1>
				</div>
				<div class="row infoblock">
					<p>{{ department.description }}</p>
				</div>
			</div>
		</div>
	{% endblock caruosel %}

{% block hello %} 
{% endblock hello %}

{% block parts %} 
{% endblock parts %} 	

{% block gallery %} 
    <div class="brand">
            <div class="container-fluid">
            	<h1 class="brandHeader">Проекты</h1> 
              	<h3>Подзаголовок раздла проекты</h3>
            </div>
  	</div>

            <!-- Keep all page content within the page-content inset div! -->

  <div class="row gallery">
    {% for v in projectsList %}
      <div class="col-sm-4 imgItem">
        <a href={% url 'main:project' v.short_name %}>
        <div class="projectsGallerie_project thumbnail">
            <img src="{{ v.photo.get_gallerysize_url }}"/>
            <div class="projectsGallerie_project_text">
              <h1>{{ v.name }}</h1>
              <div>{{ v.department.name}}</div>
            </div>
        </div>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock gallery %}

{% block footer %}
  <div class="brand "> 
    <h1 class="brandHeader">контакты</h1>
    <h3>мы ждем от вас отзывы и пердложения</h3>
  </div>  
  <img alt="Карты яндекс" src={% static 'main/img/Ya_map.png' %}>
  <div class="brand-footer row">
    <div class="col-md-8">
      <p><a href=#><span class="glyphicon glyphicon-tower"></span> Prtner #1</p></a>
      <p><a href=#><span class="glyphicon glyphicon-send"></span> Prtner #2</p></a>
      <p><a href=#><span class="glyphicon glyphicon-leaf"></span> Prtner #3</p></a>
    </div>
    <div class="col-md-7">
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">{{ contacts }}</li>
          <li class="list-group-item"> 8(1038) 456-234</li>
          <li class="list-group-item"> e-mail@mail.ru</li>
          <li class="list-group-item">Moscow, Leningradsky avenue 37</li>
        </ul>
      </div>
    </div>
    <div class="col-md-5 foot-brand">
    </div>

    <!-- <img width="100%" alt="Карты яндекс" src={% static 'main/img/4.jpg' %}> -->
  </div>
{% endblock footer %}


