Шаблон главной страницы
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}" />

{% if article %}
	<p><img src="{{ article.photo.get_thumbnail_url }}"></p>
	<p>{{ article.gallery }}</p>
	{% for photo in article.gallery.public %}
		<p><img src="{{ photo.get_mySize_url }}"></p>
	{% endfor %}
    {{ article.content|safe }}
{% else %}
    <p>No article are available.</p>
{% endif %}

{% if articleList %}
	{% for article in articleList %}
		{{ article.article }}
		{{ article.summary|safe }}
		<li><a href="{% url 'main:article' article.article %}">Читать полностью</a></li>
	{% endfor %}
    {{ article.content|safe }}
{% else %}
    <p>No article are available.</p>
{% endif %}