@charset "UTF-8";
/* CSS Document */
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_medium';
    src: url('../fonts/Roboto_medium.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Comfortaa-Light';
	src: url('../fonts/Comfortaa-Light.ttf');
}
@font-face {
	font-family: 'a';
	src: url('../fonts/azoft-sans.ttf');
	}
	
@font-face {
	font-family: 'Myr';
	src: url('../fonts/MyriadPro/MypiadProSemiExtended.ttf');
	}